.dark{
    background:black;
}
.light{
    background:lightgray;
}

.landingimg{
    border: 1px solid violet;
    padding:20px;
    margin: 40px;
    height: 40rem;
    width: 40rem;
}
h1{
    border: 1px solid rgb(17, 15, 17);
    padding: 15px;

}
.formpage{
    border: 1px solid violet;
    padding:20px;
    margin: 40px;
    height: 40rem;
    width: 40rem;
    justify-content: center;
}
#blogForm{
    margin-right: 80px;
    border: 1px solid red;
    width: fit-content;
}


.label{
    justify-content: center;
    padding:10px;
    color: blue;


}
.blogpost{
    display: flex;
    flex-direction:row;
    
}